<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-openin" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>openin</name><js-module name="openin" src="www/openin.js"><clobbers target="cordova.plugins.openin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="openin"><param name="ios-package" value="openin" /></feature></config-file><header-file src="src/ios/openin.h" /><header-file src="src/ios/AppDelegate+openin.h" /><source-file src="src/ios/openin.m" /><source-file src="src/ios/AppDelegate+openin.m" /></platform></plugin>
